.dropdown-content1 {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transition: 0.3s ease-in-out;
  position: absolute;
  min-width: 1349px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  z-index: 999;
  top: 100%;
  left: -100px;
  margin-top: 33px;
}
.dropdown-content2 {
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transition: 0.3s ease-in-out;
  position: absolute;
  min-width: 180px;
  padding: 15px 0 15px 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  z-index: 999;
  top: 100%;
  left: 0;
  margin-top: 33px;
}
.dropdown-content3 {
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transition: 0.3s ease-in-out;
  position: absolute;
  min-width: 240px;
  padding: 15px 0 15px 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  z-index: 999;
  top: 100%;
  left: 0;
  margin-top: 33px;
}
.dropdown-content4 {
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transition: 0.3s ease-in-out;
  position: absolute;
  min-width: 160px;
  padding: 20px 0 20px 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  z-index: 999;
  top: 100%;
  right: 0;
  margin-top: 26px;
}
.dropdown-content5 {
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transition: 0.3s ease-in-out;
  position: absolute;
  min-width: 160px;
  padding: 20px 0 20px 25px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: rgb(255, 255, 255);
  z-index: 999;
  top: 100%;
  right: 0;
  cursor: pointer;
  margin-top: 26px;
}
.main-nav {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}
.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px 25px 100px;
  border-bottom: 1px solid #ccc;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s;
}
.header-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 100px;
  border-bottom: 1px solid #ccc;
  background-color: black;
  z-index: 5;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#Basket {
  padding: 230px 0 80px;
}
#Basket .basket-head {
  padding: 0 100px 0 100px;
  margin-bottom: 10px;
}
.basket-head a {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 15px 5px 15px;
  border: 1px solid #0c0b0b;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #0c0b0b;
  color: #838383;
}
.basket-head a:hover {
  border: 1px solid #007aff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #007aff;
  color: #ffffff;
}
.basket-head h1 {
  font-weight: bold;
  color: #007aff;
}
#Basket .container .row .basket-products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#Basket .container .row .basket-products .custom-card {
  border-radius: 10px;
  border: 1px solid gainsboro;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Basket .container .row .basket-products .custom-card .img-div {
  width: 80px;
}
#Basket .container .row .basket-products .custom-card .img-div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
#Basket .container .row .basket-products .custom-card .content .title {
  font-size: 16px;
}
#Basket .container .row .basket-products .custom-card .content .price {
  font-size: 18px;
}
#Basket .container .row .basket-products .custom-card .count-controller {
  display: flex;
  align-items: center;
  gap: 5px;
}
#Basket .container .row .basket-products .custom-card .count-controller button {
  border-radius: 50%;
  background: 0;
  border: none;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
#Basket
  .container
  .row
  .basket-products
  .custom-card
  .count-controller
  button
  i {
  font-size: 18px;
}
#Basket
  .container
  .row
  .basket-products
  .custom-card
  .count-controller
  .fa-solid {
  margin-left: 0;
}
#Basket
  .container
  .row
  .basket-products
  .custom-card
  .count-controller
  .item-count {
  font-size: 18px;
}
#Basket .container .row .overall .all-div h3 {
  font-size: 20px;
  font-weight: bold;
  color: #838383;
}
#Basket .container .row .overall .all-div h3 #totalbasketcount,
#Basket .container .row .overall .all-div h3 #totalbasketprice {
  font-size: 18px;
  color: #007aff;
}
